.home {
    margin: 2.5rem;
    text-align: center;
}

.home_title {
    color: #00ffff;
    font-size: 80px;
    font-family: 'Nanum Pen Script', cursive;
    text-shadow: 0 4px 12px #00ffff;
}

.home_img {
    width: 430px;
}

/* Para movil */
@media (max-width: 768px) {
    .home {
      margin: 1rem;
    }

    .home_title {
      font-size: 50px;
    }

    .home_img {
      width: 300px;
    }
  }